<ion-tabs>
  <ion-tab-bar [translucent]="true" slot="bottom">
    <ion-tab-button tab="play">
      <img src="../../../../assets/icon/Home-Play.svg" class="rotate-icon" />
    </ion-tab-button>

    <ion-tab-button tab="playlists">
      <img src="../../../../assets/icon/Playlist.svg" />
    </ion-tab-button>
    <ion-tab-button tab="upload">
      <div class="upload-i"><img src="../../../../assets/icon/Plus.svg" /></div>
    </ion-tab-button>

    <ion-tab-button tab="upload">
      <img src="../../../../assets/icon/Likes.svg" />
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <img src="../../../../assets/icon/Profile.svg" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<div class="side-menu">
  <div class="side-menu-icon">
    <img src="../../../../assets/icon/supervote.png" />
  </div>
  <div class="side-menu-icon mt-10">
    <img src="../../../../assets/icon/More.svg" />
  </div>
</div>
