<ion-content>
  <header>
    <div class="logo-c ion-justify-content-center ion-align-items-center">
      <img src="../../../../assets/icon/logo.png" alt="Maojam" />
    </div>
  </header>

  <ion-grid class="mt-66">
    <ion-row class="ion-justify-content-center">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <ion-button class="lang-btn" expand="block" shape="round" (click)="setLanguage('de')"
            >German</ion-button
          >
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <ion-button class="lang-btn" expand="block" shape="round" (click)="setLanguage('en')"
            >English</ion-button
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
